div.home-container {
  text-align: center;
  border-width:1;
  border-radius: 2;
  border:0.5px solid #b5b5b5;
  border-style: solid;
  border-color: #909090;
  border-radius: 10px;
  elevation: 1;
  margin: 50px;
  margin-top: 25px;
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 250px;
}

a.home-screen-button, a.home-screen-button:visited {
  position: right;
  right: 0px;
  background-color: #F4F4F4;
  border-radius: 10px;
  border:0.5px solid #b5b5b5;
  color: #a09f9f;
  padding: 25px;
  margin: 5px;
  width: 270px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-family: "ITC Franklin Gothic STD"; color: #707070;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */* Chrome */* Interneet Explorer */
}

a.home-screen-button:hover {
  background-color: #e6e4e4;
  text-decoration: none;
}

a.home-screen-button:active {
  background-color: #fff;
  text-decoration: none;
}
