div.home-container {
  text-align: center;
  border-width:1;
  border-radius: 2;
  border:0.5px solid #b5b5b5;
  border-style: solid;
  border-color: #909090;
  border-radius: 10px;
  margin: 50px;
  padding-top: 100px;
  padding-bottom: 170px;
}

div.home-screen-button-container {
  padding-top: 30px;
}

div.home-logo-container {
  padding-left: 300px;
  height: 200px;
}

a.home-screen-button, a.home-screen-button:visited {
  position: right;
  right: 0px;
  background-color: #F1F2F2;
  border-radius: 10px;
  border:0.5px solid #b5b5b5;
  color: #a09f9f;
  padding: 25px;
  margin: 5px;
  width: 270px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-family: Helvetica, Arial, san-serif;
  color: #808285;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */* Chrome */* Interneet Explorer */
}

a.home-screen-button:hover {
  background-color: #e6e4e4;
  text-decoration: none;
}

a.home-screen-button:active {
  background-color: #fff;
  text-decoration: none;
}
